In [39]:
f = open("C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/HaeinAPIKey.txt", "r")
API_Key = f.readline()
API_Key = API_Key.strip("\n")
decoded_API_Key =f.readline()
f.close()
API_Key = decoded_API_Key

In [40]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [41]:
import os
csv_list = os.listdir('C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/Share/AptOnly')
csv_list

['Dobong_Gu_Only.csv',
 'Dongdaemun_Gu_Only.csv',
 'Dongjak_Gu_Only.csv',
 'Eunpyeong_Gu_Only.csv',
 'Gangbuk_Gu_Only.csv',
 'Gangdong_Gu_Only.csv',
 'Gangnam_Gu_Only.csv',
 'Gangseo_Gu_Only.csv',
 'Geumcheon_Gu_Only.csv',
 'Guro_Gu_Only.csv',
 'Gwanak_Gu_Only.csv',
 'Gwangjin_Gu_Only.csv',
 'Jongno_Gu_Only.csv',
 'Jungnang_Gu_Only.csv',
 'Jung_Gu_Only.csv',
 'Mapo_Gu_Only.csv',
 'Nowon_Gu_Only.csv',
 'Seocho_Gu_Only.csv',
 'Seodaemun_Gu_Only.csv',
 'Seongbuk_Gu_Only.csv',
 'Seongdong_Gu_Only.csv',
 'Seoul_Only.csv',
 'Songpa_Gu_Only.csv',
 'Yangcheon_Gu_Only.csv',
 'Yeongdeungpo_Gu_Only.csv',
 'Yongsan_Gu_Only.csv']

In [42]:
csv_list.pop(21)

'Seoul_Only.csv'

In [43]:
len(csv_list)

25

In [44]:
def getheatC(API_Key, kaptCode, searchDate):
        url = 'http://apis.data.go.kr/1611000/AptIndvdlzManageCostService/getHsmpHeatCostInfo'
        params ={'serviceKey' : API_Key, 'kaptCode' : kaptCode, 'searchDate' : searchDate }

        response = requests.get(url, params=params)

        data = BeautifulSoup(response.text, "xml")

        if(data.find('heatC')!=None):
            heatC = data.find('heatC').get_text()
        elif(data.find('heatc')!=None):
             heatC = data.find('heatc').get_text()
        else:
            heatC = np.nan
        if(data.find('heatP')!=None):
            heatP = data.find('heatP').get_text()
        elif(data.find('heatp')!=None):
             heatP = data.find('heatp').get_text()
        else:
            heatP = np.nan
            
        return np.array([heatC, heatP])

In [45]:
def getgasC(API_Key, kaptCode, searchDate):
    url = 'http://apis.data.go.kr/1611000/AptIndvdlzManageCostService/getHsmpGasRentalFeeInfo'
    params ={'serviceKey' : API_Key, 'kaptCode' : kaptCode, 'searchDate' : searchDate }

    response = requests.get(url, params=params)

    data = BeautifulSoup(response.text, "xml")

    if(data.find('gasC')!=None):
        gasC = data.find('gasC').get_text()
    elif(data.find('gasc')!=None):
        gasC = data.find('gasc').get_text()
    else:
        gasC = np.nan
    if(data.find('gasP')!=None):
        gasP = data.find('gasP').get_text()
    elif(data.find('gasp')!=None):
        gasP = data.find('gasp').get_text()
    else:
        gasP = np.nan
    return np.array([gasC, gasP])

In [46]:
def getwaterHotC(API_Key, kaptCode, searchDate):
    url = 'http://apis.data.go.kr/1611000/AptIndvdlzManageCostService/getHsmpHotWaterCostInfo'
    params ={'serviceKey' : API_Key, 'kaptCode' : kaptCode, 'searchDate' : searchDate }

    response = requests.get(url, params=params)

    data = BeautifulSoup(response.text, "xml")
    if(data.find('waterHotC')!=None):
        waterHotC = data.find('waterHotC').get_text()
    elif(data.find('waterhotc')!=None):
        waterHotC = data.find('waterhotc').get_text()
    else:
        waterHotC = np.nan
    if(data.find('waterHotP')!=None):
        waterHotP = data.find('waterHotP').get_text()
    elif(data.find('waterhotc')!=None):
        waterHotP = data.find('waterhotp').get_text()
    else:
        waterHotP = np.nan
    
    return np.array([waterHotC, waterHotP])

In [47]:
def getelectC(API_Key, kaptCode, searchDate):
    url = 'http://apis.data.go.kr/1611000/AptIndvdlzManageCostService/getHsmpElectricityCostInfo'
    params ={'serviceKey' : API_Key, 'kaptCode' : kaptCode, 'searchDate' : searchDate }

    response = requests.get(url, params=params)

    data = BeautifulSoup(response.text, "xml")


    if(data.find('electC')!=None):
        electC = data.find('electC').get_text()
    elif(data.find('electc')!=None):
        electC = data.find('electc').get_text()
    else:
        electC = np.nan
    if(data.find('electP')!=None):
        electP = data.find('electP').get_text()
    elif(data.find('electp')!=None):
        electP = data.find('electp').get_text()
    else:
        electP = np.nan
    return np.array([electC, electP])

In [48]:
def getwaterCoolC(API_Key, kaptCode, searchDate):
    url = 'http://apis.data.go.kr/1611000/AptIndvdlzManageCostService/getHsmpWaterCostInfo'
    params ={'serviceKey' : API_Key, 'kaptCode' : kaptCode, 'searchDate' : searchDate }

    response = requests.get(url, params=params)


    data = BeautifulSoup(response.text, "xml")
    if(data.find('waterCoolC')!=None):
        waterCoolC = data.find('waterCoolC').get_text()
    elif(data.find('watercoolc')!=None):
        waterCoolC = data.find('watercoolc').get_text()
    else:
        waterCoolC = np.nan
    if(data.find('waterCoolP')!=None):
        waterCoolP = data.find('waterCoolP').get_text()
    elif(data.find('watercoolp')!=None):
        waterCoolP = data.find('watercoolp').get_text()
    else:
        waterCoolP = np.nan
    return np.array([waterCoolC, waterCoolP])

In [49]:
def getEnergyCost(Apt, API_Key, searchDate):
    Apt_data = pd.read_csv(f'C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/Share/AptOnly/{Apt}')
    Apt_Code = Apt_data['kaptCode']
    rows = []
    for AptCode in Apt_Code:
        kaptCode = AptCode
        heat= getheatC(API_Key, kaptCode, searchDate)
        heatC, heatP = heat[0], heat[1]
        gas = getgasC(API_Key, kaptCode, searchDate)
        gasC, gasP = gas[0], gas[1]
        waterHot = getwaterHotC(API_Key, kaptCode, searchDate)
        waterHotC, waterHotP = waterHot[0], waterHot[1]
        elect = getelectC(API_Key, kaptCode, searchDate)
        electC, electP = elect[0], elect[1]
        waterCool =getwaterCoolC(API_Key, kaptCode, searchDate)
        waterCoolC, waterCoolP = waterCool[0], waterCool[1]

        data_dict = {
            "kaptCode": kaptCode,
            "heatC": heatC,
            "heatP": heatP,
            "gasC": gasC,
            "gasP" : gasP,
            "waterHotC": waterHotC,
            "waterHotP" : waterHotP,
            "electC": electC,
            "electP": electP,
            "waterCoolC": waterCoolC,
            "waterCoolP": waterCoolP
            }
        rows.append(data_dict)
    Apt_df =pd.DataFrame(rows) 
    return Apt_df

In [53]:
searchDate = ['202201', '202202', '202203', '202204', '202205', '202206', '202207', '202208', '202209',
         '202210', '202211', '202212']
AptList = ['Dobong_Gu_Only.csv',
 'Dongjak_Gu_Only.csv',
 'Eunpyeong_Gu_Only.csv',
 'Gangbuk_Gu_Only.csv',
 'Gangdong_Gu_Only.csv',
 'Gangnam_Gu_Only.csv',
 'Gangseo_Gu_Only.csv',]

In [54]:
for Apt in AptList:
    for Date in searchDate:
        dff = getEnergyCost(Apt, API_Key, Date)
        date = np.zeros(len(dff))
        date.fill(int(Date))
        date = pd.DataFrame(date, columns = ["Date"])
        dff = pd.concat([dff, date], axis = 1)
        display(dff)
        Apt1 = Apt[:-4]
        directory = f'C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/Share/AptEnergy/{Apt1}'

        if not os.path.exists(directory):
            os.makedirs(directory)
            dff.to_csv(f'C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/Share/AptEnergy/{Apt1}/{Date}')
            print("Directory created.")
        else:
            dff.to_csv(f'C:/Users/lhi30/Haein/2023/YBIGTA/DA/Project/Share/AptEnergy/{Apt1}/{Date}')

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,168240,0,0,0,1108910,9362910,0,0,202205.0
1,A15704015,0,0,162030,0,0,0,4239860,11730010,0,0,202205.0
2,A15786118,0,0,0,0,0,0,2408543,10014240,12500,6302010,202205.0
3,A15786426,0,0,0,0,0,0,837942,18503200,363540,0,202205.0
4,A15704025,0,0,0,0,0,0,2050244,19306830,86540,18895670,202205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202205.0
171,A15722306,0,0,0,0,-310160,310160,962690,9171470,0,3294200,202205.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202205.0
173,A15722001,0,0,3700,0,0,0,2119180,4676730,0,0,202205.0
174,A10024505,2611890,0,0,0,4997440,0,16415200,0,6375530,0,202205.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,66840,0,0,0,918800,10040300,0,10048100,202206.0
1,A15704015,0,0,90550,0,0,0,4291660,11787720,342070,11723440,202206.0
2,A15786118,0,0,0,0,0,0,2625162,10671040,140060,6372250,202206.0
3,A15786426,0,0,0,0,0,0,876863,19849170,363540,0,202206.0
4,A15704025,0,0,0,0,0,0,1479269,21436130,0,0,202206.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202206.0
171,A15722306,0,0,0,0,-323720,323720,1101700,10854450,0,3448370,202206.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202206.0
173,A15722001,0,0,0,0,0,0,2001260,4980010,174450,0,202206.0
174,A10024505,1859630,0,0,0,3155500,0,20955750,0,6985320,0,202206.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,9570,0,0,0,70170,14303060,0,0,202207.0
1,A15704015,0,0,9580,0,0,0,7326560,12582230,0,0,202207.0
2,A15786118,0,0,0,0,0,0,2715194,14755510,255060,6961460,202207.0
3,A15786426,0,0,0,0,0,0,793317,27190460,363540,0,202207.0
4,A15704025,0,0,0,0,0,0,2861350,32035920,77770,18443900,202207.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202207.0
171,A15722306,0,0,0,0,-364250,364250,781330,15307500,0,3393000,202207.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202207.0
173,A15722001,0,0,0,0,0,0,2100250,6588370,0,0,202207.0
174,A10024505,1601480,0,0,0,2726430,0,30629500,0,6926930,0,202207.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,1160,0,0,0,-271330,16163620,0,10109000,202208.0
1,A15704015,0,0,1160,0,0,0,7132670,21074820,516050,11787420,202208.0
2,A15786118,0,0,0,0,0,0,4255496,17989790,149220,6539790,202208.0
3,A15786426,0,0,0,0,0,0,854111,33800780,154380,0,202208.0
4,A15704025,0,0,0,0,0,0,120573,31825900,0,0,202208.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202208.0
171,A15722306,0,0,0,0,-326820,326820,740410,12761930,0,3522210,202208.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202208.0
173,A15722001,0,0,0,0,0,0,1523520,8622670,130250,0,202208.0
174,A10024505,1164110,0,0,0,2014020,0,35191300,0,6904500,0,202208.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,0,0,0,0,159430,12251170,0,0,202209.0
1,A15704015,0,0,6960,0,0,0,4595470,21300730,0,0,202209.0
2,A15786118,0,0,0,0,0,0,1665325,13807050,226590,6887660,202209.0
3,A15786426,0,0,0,0,0,0,892538,24378240,154380,0,202209.0
4,A15704025,0,0,0,0,0,0,1553468,20902660,85730,19601220,202209.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202209.0
171,A15722306,0,0,21330,0,-305090,305090,896700,10107440,0,3429910,202209.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202209.0
173,A15722001,0,0,13780,0,0,0,1493100,6526300,0,0,202209.0
174,A10024505,2180280,0,0,0,2449950,0,27059080,0,6566850,0,202209.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,0,0,0,0,1127370,10457840,0,10109000,202210.0
1,A15704015,0,0,1590,0,0,0,5647370,13384370,442920,11682050,202210.0
2,A15786118,0,0,0,0,0,0,2722139,11477550,260000,7049080,202210.0
3,A15786426,0,0,0,0,0,0,911877,20755300,154380,0,202210.0
4,A15704025,0,0,0,0,0,0,2565458,21462850,0,0,202210.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202210.0
171,A15722306,0,0,4420,0,-289400,289400,1051330,10629720,0,3337610,202210.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202210.0
173,A15722001,0,0,0,0,0,0,2004390,5145530,175100,0,202210.0
174,A10024505,5486770,0,0,0,5353560,0,23307080,0,6611900,0,202210.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,5960,0,0,0,1404310,11045920,0,0,202211.0
1,A15704015,0,0,110030,0,0,0,4858740,12973490,0,0,202211.0
2,A15786118,0,0,0,0,0,0,3741407,11663420,185980,6371050,202211.0
3,A15786426,0,0,0,0,0,0,949327,20141360,154380,0,202211.0
4,A15704025,0,0,0,0,0,0,2680636,20858200,74360,17514730,202211.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202211.0
171,A15722306,0,0,35240,0,-326000,326000,1241380,10880600,0,3337610,202211.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202211.0
173,A15722001,0,0,88440,0,0,0,2138200,5601030,0,0,202211.0
174,A10024505,8381000,0,0,0,6865600,0,24677500,0,6546920,0,202211.0

,kaptCode,heatC,heatP,gasC,gasP,waterHotC,waterHotP,electC,electP,waterCoolC,waterCoolP,Date
0,A15786116,0,0,22070,0,0,0,1553440,11457510,9682700,0,202212.0
1,A15704015,0,0,242690,0,0,0,5006650,12687530,180270,11226320,202212.0
2,A15786118,0,0,0,0,0,0,3484579,12560980,207560,6280690,202212.0
3,A15786426,0,0,0,0,0,0,957780,22210470,206670,0,202212.0
4,A15704025,0,0,0,0,0,0,2619873,24413190,0,0,202212.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,A15722008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202212.0
171,A15722306,0,0,70610,0,-265480,265480,1895780,12653500,0,3245310,202212.0
172,A10023292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202212.0
173,A15722001,0,0,143420,0,0,0,2430780,5807220,42250,0,202212.0
174,A10024505,23226120,0,0,0,11001310,0,27246530,0,6439380,0,202212.0